[submodule "src/shiki/night-owl-vscode-theme"]
	path = third_party/night-owl-vscode-theme
	url = https://github.com/sdras/night-owl-vscode-theme
[submodule "third_party/vscode-caddyfile"]
	path = third_party/vscode-caddyfile
	url = https://github.com/caddyserver/vscode-caddyfile
[submodule "third_party/fonts"]
	path = third_party/fonts
	url = https://github.com/ouuan/fonts
