.muse {
  color: #e50080 !important;
}

.honoka {
  color: #ffae00 !important;
}

.aqours {
  color: #19b1f6 !important;
}

.nijigasaki {
  color: #f8b656 !important;
}

.aisan {
  color: #ff5800 !important;
}

.emma {
  color: #84c36e !important;
}

.mia {
  color: #a9a898 !important;
}

.liella {
  color: #da57d8 !important;
}

.kanon {
  color: #ff7f27 !important;
}

.keke {
  color: #a0fff9 !important;
}
