@mixin lightVariables {
  --text-color: theme("colors.dark.4");
  --bg-color: theme("colors.light.3");
  --card-color: theme("colors.light.1");
  --link-color: theme("colors.primary.7");
  --hover-color: theme("colors.primary.5");
  --active-color: theme("colors.primary.9");
  --bghover-color: theme("colors.light.4");
  --popup-color: theme("colors.light.0");
  --footer-color: theme("colors.gray.10");
  --area-color: theme("colors.gray.1");
  --nested-color: theme("colors.gray.0");
}

@mixin darkVariables {
  --text-color: theme("colors.light.2");
  --bg-color: theme("colors.dark.9");
  --card-color: theme("colors.dark.5");
  --link-color: theme("colors.primary.1");
  --hover-color: theme("colors.primary.0");
  --active-color: theme("colors.primary.2");
  --bghover-color: theme("colors.dark.0");
  --popup-color: theme("colors.dark.2");
  --footer-color: theme("colors.gray.6");
  --area-color: theme("colors.gray.14");
  --nested-color: theme("colors.gray.13");
}

:root:not(.dark):not(.light) {
  @media (prefers-color-scheme: light) {
    @include lightVariables;
  }
  @media (prefers-color-scheme: dark) {
    @include darkVariables;
  }
}

:root.dark {
  @include darkVariables;
}

:root.light {
  @include lightVariables;
}
