@import "colors";
@import "fonts";

// increase specificity by :root to make sure overriding CSS reset
html:root {
  @apply text-text font-sans bg-bg motion-safe:scroll-smooth;
}

:root.dark {
  @include darkVariables;
}

:root.light {
  @include lightVariables;
}

* {
  text-underline-offset: 0.25em;
}

.flex > [class*="i-mdi-"] {
  @apply shrink-0;
}

span[class*="i-mdi-"] {
  @apply inline-block;
}

.flex > ile-root {
  @apply flex;
}

span.exact-matched {
  @apply bg-#FFD30D dark:bg-#5A4900;
}
span.fuzzy-matched {
  @apply bg-#FFEB93 dark:bg-#4C3E00 text-gray-10 dark:text-gray-4;
}

html body {
  @apply visible;
}

.dark {
  img {
    filter: brightness(0.8);
  }
}

input[type="checkbox"] {
  width: .8em;
  height: .8em;
}

@import "article";
@import "math";
@import "heading";
@import "print";
