@import "colors";
@import "fonts";

// increase specificity by :root to make sure overriding CSS reset
html:root {
  @apply text-text font-sans bg-bg motion-safe:scroll-smooth;
}

.heimu,
.heimu:not(:hover) * {
  @apply important-text-text;
}

:root.dark {
  @include dark;

  .heimu {
    @apply bg-light-1;

    &:hover {
      @include light;
    }
  }
}

:root.light {
  @include light;

  .heimu {
    @apply bg-dark-5;

    &:hover {
      @include dark;
    }
  }
}

* {
  text-underline-offset: 0.2em;
}

.flex>[class*="i-mdi-"] {
  @apply shrink-0;
}

span[class*="i-mdi-"] {
  @apply inline-block;
}

.flex>ile-root {
  @apply flex;
}

html body {
  @apply visible;
}

.dark {
  img {
    filter: brightness(0.8);
  }
}

input[type="checkbox"] {
  width: 0.8em;
  height: 0.8em;
}

@import "article";
@import "heading";
@import "math";
@import "mojikumi";
@import "print";
