.mojikumi,
.mojikumi-narrow-left,
.mojikumi-narrow-right,
.mojikumi-line-start,
.mojikumi-line-end {
  font-feature-settings: "halt";
}

.mojikumi-narrow-left {
  letter-spacing: -0.15em;
}

.mojikumi-narrow-right {
  margin-left: -0.15em;
}

// reference: https://github.com/ethantw/Han/blob/master/src/sass/inline/_jiya.sass
.mojikumi-line-start::before,
.mojikumi-line-end::after {
  content: " ";
  line-height: 0;
  letter-spacing: 0.242em;
}

.no-mojikumi {
  text-spacing-trim: space-all;

  .mojikumi,
  .mojikumi-narrow-left,
  .mojikumi-narrow-right,
  .mojikumi-line-start,
  .mojikumi-line-end {
    font-feature-settings: normal;
  }

  .mojikumi-narrow-left {
    letter-spacing: normal;
  }

  .mojikumi-narrow-right {
    margin-left: initial;
  }

  .mojikumi-line-start::before,
  .mojikumi-line-end::after {
    content: "";
  }
}
