@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('LXGW WenKai'),
       local('LXGW WenKai Lite'),
       url('fonts/LXGWWenKaiLite-Regular.woff2') format('woff2'),
       url('fonts/LXGWWenKaiLite-Regular.woff') format('woff');
}
@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('LXGW WenKai Bold'),
       local('LXGW WenKai Lite Bold'),
       url('fonts/LXGWWenKaiLite-Bold.woff2') format('woff2'),
       url('fonts/LXGWWenKaiLite-Bold.woff') format('woff');
}
