name: Quotation Check

on: [push, pull_request]

jobs:
  quotation-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v3
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: pnpm
      - name: Setup checker
        run: |
          git clone https://github.com/ouuan/quotation-checker
          cd quotation-checker
          pnpm i
          pnpm build
      - name: Check
        run: node quotation-checker 'src/**/*.{vue,md,mdx}'
